.RectBox {  
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

.RectBoxInner {
	padding: 16px; 
}

.BoxInnerSmall {
	padding: 5px; 
}

.BoxInnerMedium {
	padding: 10px; 
}

.BoxInnerBig {
	padding: 16px; 
}

.AppendBottomSmall {
    margin-bottom: 5px;	
}

.AppendBottomMedium {
    margin-bottom: 10px;	
}

.AppendBottomBig {
    margin-bottom: 17px;	
}

.AppendRight {
	margin-right: 17px;
}
